:root {
    --bg: #050816;
    --muted: #9ca3af;
    --text: #f9fafb;
    --textbtm: rgba(87, 225, 255, 1);
    --transition: 200ms ease;
}

/* Global */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "IBM Plex Sans", sans-serif;
    background: var(--bg);

}

img {

    display: block;
}

a {
    color: inherit;
    text-decoration: none;
}

ul li {
    list-style: none;
}

.list {
    list-style: none;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

/* Header */
.header {
    position: sticky;
    top: 0;
    z-index: 50;
}

.header_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    padding: 2px 80px;

}

.logo {
    display: flex;
    align-items: center;
    gap: 7px;
}

.logo_icon {
    /* display: inline-flex;
    align-items: center;
    justify-content: center; */
    margin-left: -17px;
}

.logo_text {
    margin-left: -38px;
}

/* Nav */
.nav {
    display: flex;
    align-items: center;
    gap: 16px;
    color: var(--muted)
}

.nav_list {
    width: 693px;
    height: 17px;
    display: flex;
    align-items: center;
    padding: 28px 0px;
    gap: 20px;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 17px;
    margin-left: 129px;
}

.nav_link {
    font-size: 14px;
    /* color: var(--transition); */
    color: #cdd4ff;
}

.nav_link:hover {
    /* color: var(--text); */
    color: #ffffff;
    transition: 200ms ease;
}

/* Buttons */
.header_actions {
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn {
    color: var(--textbtm);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 11px 24px;
    border: 1.5px solid rgba(87, 225, 255, 1);
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    white-space: nowrap;
    background: rgba(87, 225, 255, 0.2);
    box-shadow: 0px 0px 4px 0px rgba(87, 225, 255, 1);
    text-transform: uppercase;
}

.btn-primary:hover {
    background: rgba(87, 225, 255, 1);
    color: var(--bg);
}

.btn-ghost:hover {
    background: rgba(87, 225, 255, 1);
    color: var(--bg);
}

/* Hero */
.hero {
    height: 678px;
    max-width: 1120px;
}

.hero_inner {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-top: 160px;
    padding-left: 80px;
    margin-bottom: 134px;
}

/* LEFT  */

.hero_content {
    width: 630px;
    height: 384px;
    top: 160px;
    left: 80px;
    gap: 24px;
}

.hero_title {
    Width: 630px;
    Height: 216px;
    font-weight: 700;
    font-size: 60px;
    line-height: 72px;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 0px;
    letter-spacing: -4px;
    color: var(--text);
}

.hero_subtitle {
    color: var(--muted);
    height: 40px;
    font-size: 16px;
    line-height: 20px;
}

.hero_form {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-bottom: 12px;
    width: 500px;
    height: 60px;
    border-radius: 4px;
    position: relative;
}

.hero_input {
    flex: 1 1 200px;

    border-radius: 4px;
    border: 1px solid rgba(32, 26, 79, 1);
    background-color: rgba(32, 26, 79, 1);
    width: 500px;
    padding: 12px 170px 14px 12px;
    line-height: 20px;
    color: var(--text);
}

.hero_input::placeholder {
    color: var(--muted);
}

.hero_btn {
    position: absolute;
    top: 4px;
    right: 4px;
    bottom: 4px;

    padding: 14px 28px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 6px;
    border: none;
    cursor: pointer;

    color: #020617;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: 0.15s ease;
}

.hero_btn:hover {
    background: #19f0ff;
    transform: translateY(-0.5px);
    box-shadow: 0 10px 20px rgba(0, 229, 255, 0.35);
}

.hero_note {
    margin-top: 6px;
    font-size: 14px;
    color: #4b536a;
}


.hero_image {
    position: absolute;
    top: 159px;
    right: -82px;
    animation: float 3s ease-in-out infinite;
    transform: scale(1.3);
    transform-origin: top left;
    width: 484px;
    height: 186px;
}

/* Анімація плавного "плавання" картки */

@keyframes float {
    0% {
        transform: translate(20px, 0);
    }

    50% {
        transform: translate(20px, -8px);
    }

    100% {
        transform: translate(20px, 0);
    }
}


/* mobile */

.burger {
    display: none;
}

@media (max-width: 768px) {

    .header_mob {
        display: flex;
        align-items: center;

    }


    .burger {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5px;
        border-radius: 6px;
        border: none;
        background: transparent;
        z-index: 1001;
        margin-left: 335px;
        cursor: pointer;
    }

    .burger span {
        width: 18px;
        height: 2px;
        border-radius: 2px;
        background: #ffffff;
        transition: 0.25s ease;
    }

    /* Анимация крестика */
    .burger.active span:nth-child(1) {
        transform: translateY(6px) rotate(45deg);
    }

    .burger.active span:nth-child(2) {
        opacity: 0;
    }

    .burger.active span:nth-child(3) {
        transform: translateY(-6px) rotate(-45deg);
    }

    .nav {
        position: static;
    }

    /* Мобильное меню */

    .nav_list {
        position: fixed;
        inset: 0;
        margin: auto;
        padding: 72px 20px 96px;

        display: flex;
        flex-direction: column;
        gap: 20px;

        background: #5b4dff;
        /* фіолетовий як у макеті */

        transform: translateY(-100%);
        opacity: 0;
        pointer-events: none;
        transition: transform 0.25s ease, opacity 0.25s ease;

        z-index: 1000;
    }

    .nav_list.open {
        transform: translateY(0);
        opacity: 1;
        pointer-events: auto;
        width: auto;
        display: flex;
        height: auto;
        align-items: flex-start;
        align-content: space-between;
        flex-wrap: nowrap;
        flex-direction: column;
    }

    .nav_link {
        font-size: 24px;
        font-weight: 500;
        text-transform: uppercase;
        color: #ffffff;
        line-height: 30px;

    }

    /* кнопки внизу меню (як на макеті) */
    .header_actions {
        position: fixed;
        bottom: 24px;
        display: none;
        justify-content: space-between;
        gap: 16px;
        z-index: 1001;
    }

    body.menu-open .header_actions {
        display: flex;
        width: 341px;
        flex-direction: row-reverse;
    }

    .btn {
        flex: 1;
        justify-content: center;
        font-size: 13px;
    }

    /* "РЕГИСТРАЦИЯ" */
    .btn.btn-ghost {
        background: #57e1ff;
        color: #020617;
        box-shadow: none;
    }

    .btn.btn-primary {
        background: transparent;
        color: #8cdfff;
        border-color: #8cdfff;
        box-shadow: none;
    }

    /* ховаємо логін/реєстрацію зверху на мобільному */
    .header_actions:not(body.menu-open .header_actions) {
        display: none;
    }
}