.logo {
    height: 30px;
    width: 30px;
}

header {
    background-color: whitesmoke
}

a {
    text-decoration: none;
    color: black;

}

.nav_heder {
    display: flex;
    gap: 20px;
    list-style: none;
}

ul {}



li {
    list-style: none;
    width: 55;
    height: 17;
}